<div *ngIf="isDataAvailable">
  <h1 class="my-3">Appointment Details</h1>

  <form #completionForm="ngForm">

    <div class="row">
      <div class="col-3">
        <label><b>Customer</b></label>
      </div>
      <div class="col-9">
        <a routerLink="/customers/{{serviceOrder.customer.id}}">{{serviceOrder.customer.name}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label><b>Date</b></label>
      </div>
      <div class="col-9">
        {{serviceOrder.serviceDate}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label><b>Service Product</b></label>
      </div>
      <div class="col-9">
        <a routerLink="/serviceProducts/{{serviceOrder.serviceProduct.id}}">{{serviceOrder.serviceProduct.name}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label><b>Status</b></label>
      </div>
      <div class="col-9">
        {{serviceOrder.status.toString()}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label><b>Description</b></label>
      </div>
      <div class="col-9">
        {{serviceOrder.description}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label><b>Planned Time</b></label>
      </div>
      <div class="col-9">
        {{serviceOrder.plannedTime}} hours
      </div>
    </div>

    <ng-container *ngIf="serviceOrder.status.toString() == 'Completed'">
      <div class="row">
        <div class="col-3">
          <label><b>Needed Time</b></label>
        </div>
        <div class="col-9">
          {{serviceOrder.realTime}} hours
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="serviceCompletionMode">
      <div class="row">
        <div class="col-3">
          <label for="service-completion-needed-time"><b>Needed Time</b></label>
        </div>
        <div class="col-9">
          <input type="text" size="5" id="service-completion-needed-time"
                 name="neededTime"
                 required
                 [(ngModel)]="completedServiceOrder.realTime"> hours
        </div>
      </div>
    </ng-container>

    <h3 style="margin-top: 2rem;">Planned Parts</h3>
    <div class="table-responsive">
      <table class="table table-striped w-100">
        <thead>
        <tr>
          <th>Part</th>
          <th>Quantity</th>
          <th>Unit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let part of serviceOrder.plannedParts">
          <td>{{part.itemId}}</td>
          <td>{{part.quantity}}</td>
          <td>{{itemById[part.itemId].unit}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <ng-container *ngIf="serviceOrder.status.toString() == 'Completed'">
      <h3 style="margin-top: 2rem;">Used Parts</h3>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <thead>
          <tr>
            <th>Part</th>
            <th>Quantity</th>
            <th>Unit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let part of serviceOrder.usedParts">
            <td>{{part.itemId}}</td>
            <td>{{part.quantity}}</td>
            <td>{{itemById[part.itemId].unit}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="serviceCompletionMode">
      <h3 style="margin-top: 2rem;">Used Parts</h3>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <thead>
          <tr>
            <th>Part</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let part of completedServiceOrder.usedParts; let i=index">
            <td>{{part.itemId}}</td>
            <td>{{part.quantity}}</td>
            <td>{{itemById[part.itemId].unit}}</td>
            <td>
              <button (click)="removeUsedPart(i)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          <tr>
            <td>
              <select name="part" class="w-100" #newPartName>
                <option [selected]="true"></option>
                <ng-container *ngFor="let item of items">
                  <option [value]="item.id">({{item.id}}) {{item.name}} - {{item.unit}}</option>
                </ng-container>
              </select>
            </td>
            <td>
              <input type="text" name="quantity" #newPartQuantity>
            </td>
            <td></td>
            <td>
              <button (click)="
          addUsedPart(newPartName.value, newPartQuantity.value);
          newPartName.value = '';
          newPartQuantity.value = '';
          " class="btn btn-success">Add
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <h3 style="margin-top: 2rem;">Planned Services</h3>
    <div class="table-responsive">
      <table class="table table-striped w-100">
        <thead>
        <tr>
          <th>Service</th>
          <th>Quantity</th>
          <th>Unit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let part of serviceOrder.plannedServices">
          <td>{{part.itemId}}</td>
          <td>{{part.quantity}}</td>
          <td>{{itemById[part.itemId].unit}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <ng-container *ngIf="serviceOrder.status.toString() == 'Completed'">
      <h3 style="margin-top: 2rem;">Performed Services</h3>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <thead>
          <tr>
            <th>Service</th>
            <th>Quantity</th>
            <th>Unit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let part of serviceOrder.usedServices">
            <td>{{part.itemId}}</td>
            <td>{{part.quantity}}</td>
            <td>{{itemById[part.itemId].unit}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="serviceCompletionMode">
      <h3 style="margin-top: 2rem;">Performed Services</h3>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <thead>
          <tr>
            <th>Service</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let part of completedServiceOrder.usedServices; let i=index">
            <td>{{part.itemId}}</td>
            <td>{{part.quantity}}</td>
            <td>{{itemById[part.itemId].unit}}</td>
            <td>
              <button (click)="removeUsedService(i)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          <tr>
            <td>
              <select name="part" class="w-100" #newServiceName>
                <option [selected]="true"></option>
                <ng-container *ngFor="let item of items">
                  <option [value]="item.id">({{item.id}}) {{item.name}} - {{item.unit}}</option>
                </ng-container>
              </select>
            </td>
            <td>
              <input type="text" name="quantity" #newServiceQuantity>
            </td>
            <td></td>
            <td>
              <button (click)="
          addUsedService(newServiceName.value, newServiceQuantity.value);
          newServiceName.value = '';
          newServiceQuantity.value = '';
          " class="btn btn-success">Add
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <button class="appointment-details-completion-button btn btn-success"
            (click)="completionButtonClick()"
            *ngIf="serviceOrder.status.toString() != 'Completed'"
            [disabled]="!serviceCompletionButtonEnabled">
      Complete service order
    </button>

  </form>

</div>
