<h1 class="my-3">Customers</h1>
<table class="table table-striped">
	<thead>
  <tr>
		<th>Name</th>
  </tr>
	</thead>
  <tbody>
  <ng-container *ngIf="customers">
    <tr *ngFor="let customer of customers">
      <td>
        <a routerLink="/customers/{{customer.id}}">{{customer.name}}</a>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
