<!-- TODO: add check if data is available -->
<div class="row my-2">
  <h1 class="my-3">Your Appointments</h1>
  <br><br>
  <div class="table-responsive">
    <h4>Open</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>Details</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serviceorder of serviceOrdersOpen">
          <td>{{serviceorder.serviceDate}}</td>
          <td><a routerLink="/customers/{{serviceorder.customer.id}}">{{serviceorder.customer.name}}</a></td>
          <td><a routerLink="/appointments/{{serviceorder.id}}"><span class="oi oi-link-intact"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <h4>Completed</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>Details</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serviceorder of serviceOrdersCompleted">
          <td>{{serviceorder.serviceDate}}</td>
          <td><a routerLink="/customers/{{serviceorder.customer.id}}">{{serviceorder.customer.name}}</a></td>
          <td><a routerLink="/appointments/{{serviceorder.id}}"><span class="oi oi-link-intact"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
