<div *ngIf="isDataAvailable">
  <h1 class="my-3">Note Details</h1>
  <div class="row">
    <div class="col-3">
      <label><b>Id</b></label>
    </div>
    <div class="col-9">
      {{ note.id }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Creation Date</b></label>
    </div>
    <div class="col-9">
      {{ note.creationDate }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Title</b></label>
    </div>
    <div class="col-9">
      {{ note.title }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Status</b></label>
    </div>
    <div class="col-9">
      {{ note.status }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Description</b></label>
    </div>
    <div class="col-9">
      {{ note.description }}
    </div>
  </div>
</div>
