<h1 class="my-3">Warehouse</h1>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <form>
        <div class="form-group">
          <label for="item">Part</label><br>
          <select id="item" name="item" class="w-100" #itemId>
            <option [selected]="true"></option>
            <ng-container *ngFor="let item of items">
              <option [value]="item.id">({{item.id}}) {{item.name}} - {{item.unit}}</option>
            </ng-container>
          </select><br><br>
          <label for="quantity">Quantity</label><br>
          <input id="quantity" name="quantity" type="text" #quantity/><br><br>
          <label for="description">Description</label><br>
          <input id="description" name="description" type="text" class="w-100" #description/><br>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success"
            (click)="createNewOrder(itemId.value, quantity.value, description.value); modal.close('Send Order')">
      Create Order
    </button>
  </div>
</ng-template>

<ng-container *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h2>In Stock
        <button class="btn btn-success d-inline-block" (click)="open(content)">Create new order</button>
      </h2>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <thead>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          </thead>
          <tbody>
          <tr *ngFor="let part of warehouse.parts">
            <td>({{part.itemId}}) {{itemById[part.itemId].name}}</td>
            <td>{{part.quantity}}</td>
            <td>{{itemById[part.itemId].unit}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <h2>Open Orders</h2>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <tbody>
          <tr *ngFor="let order of openWarehouseOrders">
            <td>
              Date: {{order.orderDate}}<br>
              Item: ({{order.itemId}}) {{itemById[order.itemId].name}}<br>
              Quantity: {{order.quantity}} {{itemById[order.itemId].unit}}<br>
              Last Update: {{order.lastUpdate}}<br>
              Description: {{order.description}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Orders In Progress</h2>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <tbody>
          <tr *ngFor="let order of inProgressWarehouseOrders">
            <td>
              Date: {{order.orderDate}}<br>
              Item: ({{order.itemId}}) {{itemById[order.itemId].name}}<br>
              Quantity: {{order.quantity}} {{itemById[order.itemId].unit}}<br>
              Last Update: {{order.lastUpdate}} - {{order.statusNote}}<br>
              Description: {{order.description}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Canceled Orders</h2>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <tbody>
          <tr *ngFor="let order of canceledWarehouseOrders">
            <td>
              Date: {{order.orderDate}}<br>
              Item: ({{order.itemId}}) {{itemById[order.itemId].name}}<br>
              Quantity: {{order.quantity}} {{itemById[order.itemId].unit}}<br>
              Last Update: {{order.lastUpdate}} - {{order.statusNote}}<br>
              Description: {{order.description}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Delivered Orders</h2>
      <div class="table-responsive">
        <table class="table table-striped w-100">
          <tbody>
          <tr *ngFor="let order of deliveredWarehouseOrders">
            <td>
              Date: {{order.orderDate}}<br>
              Item: ({{order.itemId}}) {{itemById[order.itemId].name}}<br>
              Quantity: {{order.quantity}} {{itemById[order.itemId].unit}}<br>
              Last Update: {{order.lastUpdate}} - {{order.statusNote}}<br>
              Description: {{order.description}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
