<div *ngIf="isDataAvailable">
  <h1 class="my-3">Device Details</h1>

  <div class="row">
    <div class="col-3">
      <label><b>Name</b></label>
    </div>
    <div class="col-9">
      {{ serviceProduct.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Serialnumber</b></label>
    </div>
    <div class="col-9">
      {{ serviceProduct.serialNumber }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Customer</b></label>
    </div>
    <div class="col-9">
      <a routerLink="/customers/{{serviceProduct.customer.id}}">{{serviceProduct.customer.name}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Purchase Date</b></label>
    </div>
    <div class="col-9">
      {{ serviceProduct.purchaseDate }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Description</b></label>
    </div>
    <div class="col-9">
      {{ serviceProduct.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Documents</b></label>
    </div>
    <div class="col-9">
      {{ serviceProduct.documents }}
    </div>
  </div>


  <h3 style="margin-top: 2rem;"> Parts</h3>
  <table class="table table-striped">
    <thead>
      <th>Part</th>
      <th>Quantity</th>
      <th>Unit</th>
    </thead>
    <tbody>
      <tr *ngFor="let bom of serviceProduct.bom">
        <td>({{bom.itemId}}) {{itemById[bom.itemId].name}}</td>
        <td>{{bom.quantity}}</td>
        <td>{{itemById[bom.itemId].unit}}</td>
      </tr>
    </tbody>
  </table>
</div>
