<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">HSKA FieldApp</a>
      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
              data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/appointments" routerLinkActive="active" class="nav-link">Appointments</a>
          </li>
          <li class="nav-item">
            <a routerLink="/customers" routerLinkActive="active" class="nav-link">Customers</a>
          </li>
          <li class="nav-item">
            <a routerLink="/notes" routerLinkActive="active" class="nav-link">Notes</a>
          </li>
          <li class="nav-item">
            <a routerLink="/warehouse" routerLinkActive="active" class="nav-link">Warehouse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
