<h1 class="my-3">Tasks &amp; Notes</h1>
<table class="table table-striped">
	<thead>
  <tr>
    <th>Creation Date</th>
		<th>Title</th>
    <th>Type</th>
    <th>Status</th>
  </tr>
	</thead>
  <tbody>
    <tr *ngFor="let note of notes">
      <td>{{ note.creationDate }}</td>
      <td><a routerLink="/notes/{{note.id}}">{{note.title}}</a></td>
      <td>{{ note.type }}</td>
      <td>{{ note.status}}</td>
    </tr>
  </tbody>
</table>
