<div *ngIf="isDataAvailable">
  <h1 class="my-3">Customer Details</h1>

  <div class="row">
    <div class="col-3">
      <label><b>Name</b></label>
    </div>
    <div class="col-9">
      {{ customer.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Phone</b></label>
    </div>
    <div class="col-9">
      {{ customer.contact.phone }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>E-mail</b></label>
    </div>
    <div class="col-9">
      {{ customer.contact.mail }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Web</b></label>
    </div>
    <div class="col-9">
      {{ customer.contact.web }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><b>Address</b></label>
    </div>
    <div class="col-9">
      {{ customer.address }}
    </div>
  </div>

  <h3 style="margin-top: 2rem;">Service Products</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Service Product</th>
        <th>Serial Number</th>
        <th>Purchase Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serviceProduct of customer.serviceProducts">
        <td>{{serviceProduct.name}}</td>
        <td>
          <a routerLink="/serviceProducts/{{serviceProduct.id}}">{{serviceProduct.serialNumber}}</a>
        </td>
        <td>{{serviceProduct.purchaseDate}}</td>
      </tr>
    </tbody>
  </table>

  <h3 style="margin-top: 3rem;">Service History</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Service</th>
        <th>Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let serviceOrder of customer.serviceOrders">
      <td>{{serviceOrder.id}}</td>
      <td>{{serviceOrder.serviceDate}}</td>
      <td>
        <a routerLink="/appointments/{{serviceOrder.id}}"><span class="oi oi-link-intact"></span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
